@model Razom.Models.PeopleAddForm

@{
    ViewBag.Title = "Додати користувача";
}


<h2 style ="position:relative;left:3%">Додати людину</h2>

@using (Html.BeginForm("AddUser","Trip",FormMethod.Post))
{
    @Html.HiddenFor(m => m.TripID)
    <div style="position:relative;left:3%">
        @Html.TextBoxFor(m => m.Token, new { @class="form-control", @style="width:20%"})
        <input class="btn btn-success" type="submit" value="Шукати" style="margin-top:2%" />
     </div>
}

@foreach (var item in Model.AccountsInfo.Accounts)
{
    <p style="margin-top:2%; position:relative; left:3%;">
        @Html.ActionLink(String.Format("{0} {1}", item.FirstName, item.SecondName), "Account", "Account", new { id=@item.ID }, null) - 
        @Html.ActionLink("Додати", "ConfirmAddUser", "Trip", new { id = @Model.TripID, uid = @item.ID }, new {@class="btn btn-success" })
    </p>
    <p style="margin-top:2%; position:relative; left:3%;">
        <p>
            <label>Співпадіння: </label>
            <span>@item.Associations.First() </span>
            @foreach (var a in item.Associations.Skip(1))
            {
                <span>, @a </span>
            }
        </p>
    </p>
}

@if (Model.AccountsInfo.PagesCount > 1)
{
    <div class="row" style="position:relative; left:15%">
        @if (Model.AccountsInfo.Accounts.Count > 1)
        {
            <div class="col-xs-1" style="width:500px;">
            @if (2 < Model.AccountsInfo.CurrentPage)
            {
                using (Html.BeginForm("PagerAddUser", "Trip", FormMethod.Post, new { @style = "display:inline-block;" }))
                {
                    <input type="submit" name="page" class="btn btn-default" style="position:relative;bottom:10%" value="1" />
                    <input type="text" name="t_id" value="@Model.TripID" style="display:none;" />
                    <input type="text" name="id" value="@Model.Token" style="display:none;" />
                }
                <span>...</span>
            }

                @if (Model.AccountsInfo.CurrentPage > 1)
                {
                    using (Html.BeginForm("PagerAddUser", "Trip", FormMethod.Post, new { @style = "display:inline-block;" }))
                    {
                        <input type="submit" name="page" class="btn btn-default" style="position:relative;bottom:10%" value="@(Model.AccountsInfo.CurrentPage-1)" />
                        <input type="text" name="t_id" value="@Model.TripID" style="display:none;" />
                        <input type="text" name="id" value="@Model.Token" style="display:none;" />
                    }       
                }

            
                @using (Html.BeginForm("PagerAddUser", "Trip", FormMethod.Post, new { @style = "display:inline-block;" }))
                {
                    <input type="submit" name="page" class="btn btn-info" style="position:relative;bottom:10%" value="@Model.AccountsInfo.CurrentPage" />
                    <input type="text" name="t_id" value="@Model.TripID" style="display:none;" />
                    <input type="text" name="id" value="@Model.Token" style="display:none;" />
                }
                       
                @if (Model.AccountsInfo.CurrentPage < Model.AccountsInfo.PagesCount)
                {
                    using (Html.BeginForm("PagerAddUser", "Trip", FormMethod.Post,new{@style="display:inline-block;"}))
                    {
                        <input type="submit" name="page" class="btn btn-default" style="position:relative;bottom:10%" value="@(Model.AccountsInfo.CurrentPage+1)" />
                        <input type="text" name="t_id" value="@Model.TripID" style="display:none;" />
                        <input type="text" name="id" value="@Model.Token" style="display:none;" />
                    }       
                }

            @if (Model.AccountsInfo.CurrentPage < Model.AccountsInfo.PagesCount-1)
            {
                <span>...</span>
                using (Html.BeginForm("PagerAddUser", "Trip", FormMethod.Post, new { @style = "display:inline-block;" }))
                {
                    <input type="submit" name="page" class="btn btn-default" style="position:relative;bottom:10%" value="@Model.AccountsInfo.PagesCount" />
                    <input type="text" name="t_id" value="@Model.TripID" style="display:none;" />
                    <input type="text" name="id" value="@Model.Token" style="display:none;" />
                }
            
            }
            </div>
        }   
    </div>    
}
