@model Razom.Models.TripDate

@{
    ViewBag.Title = "Змінити зату";
}

@section AdditionalCSS{
       
    }
<div class="clear"></div>
<div style="left:5%; position:relative;">
    <h2>Зміна дати</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <br />
        @Html.HiddenFor(m => m.ID)
        
        @Html.LabelFor(m => m.Start, "Дата початку")
        @Html.TextBoxFor(model => model.Start, new { @class = "form-control datepicker", @style= "width:20%"})
        @Html.ValidationMessageFor(model => model.Start)
        <br />
        @Html.LabelFor(m => m.Finish, "Дата кінця")
        @Html.TextBoxFor(model => model.Finish, new { @class = "form-control datepicker", @style= "Width:20%"})
        @Html.ValidationMessageFor(model => model.Finish)
        <br />
        <input type="submit" value="Зберегти" class="btn btn-success" />
    }

</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $.fn.datepicker.dates['ua'] = {
            days: ["Неділя", "Понеділок", "Вівторок", "Середа", "Четвер", "П'ятниця", "Субота", "Неділя"],
            daysShort: ["Нд", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Нд"],
            daysMin: ["Нд", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Нд"],
            months: ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"],
            monthsShort: ["Січ", "Лют", "Бер", "Кві", "Тра", "Чер", "Лип", "Сер", "Вер", "Жов", "Лис", "Гру"],
            today: "Сьогодні",
            clear: "Очистити"
        };
        $('.datepicker').datepicker({
            format: "dd.mm.yy",
            language: "ua",
            todayHighlight: true
        }); //Initialise any date pickers
    });
</script>