@model Razom.Models.TripCollection

@{
    ViewBag.Title = "Подорожі";
}

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Створити подорож", "Create", "Trip", new { @class = "btn btn-info", @style = "background-color:#f0ad4e" })</li>
    <li>@Html.ActionLink("Майбутні подорожі", "FutureTrips", "Trip", new { @class = "btn btn-info", @style = "background-color:#f0ad4e" })</li>
    <li>@Html.ActionLink("Поточні подорожі", "CurrentTrips", "Trip", new { @class = "btn btn-info", @style = "background-color:#f0ad4e" })</li>
    <li>@Html.ActionLink("Минулі подорожі", "PastTrips", "Trip", new { @class = "btn btn-info", @style = "background-color:#f0ad4e" })</li>
    @if (Model.IncomingInvites)
    {
        <li>
            @Html.ActionLink("Запропоновані", "Invites", "Trip", new { @class = "btn btn-danger" })
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink("Запропоновані", "Invites", "Trip", new { @class = "btn btn-info", @style = "background-color:#f0ad4e" })
        </li>
        
    }
</ul>




@if (Model.Trips.Count() == 0)
{
    <h3>У вас немає подорожей</h3>
}
else
{
    <div style="position:relative;left:20%;margin-top:5%; ">
    @for (int i = 0; i < Model.Trips.Count; )
    {
        <div class="row">
            @for (int j = 0; j < 2 && i + j <= Model.Trips.Count; j++)
            {

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>Статус: @Model.Trips[i].Date</p>
                            <p>@Html.ActionLink(Model.Trips[i].Name, "Show", "Trip", new { id = Model.Trips[i].ID }, new { @class="btn btn-primary"})</p>
                        </div>
                    </div>
                </div>
                { i++; }
            }
        </div>
    }
</div>     
}

<ul class="pagination" style="left:20%; position:relative;">
    @if (Model.PagesCount > 1)
        {      
            if (2 < Model.CurrentPage)
            {
                <li>@Html.ActionLink("1", "Index", "Place", new { id=1 },null)</li>
                <li><a href="">...</a></li>
            }

            if (Model.CurrentPage > 1)
            {
               <li>@Html.ActionLink((Model.CurrentPage-1).ToString(), "Index", "Trip", new { id=Model.CurrentPage-1},null)</li>
            }
        
            <li class="active">@Html.ActionLink(Model.CurrentPage.ToString(), "Index", "Trip", new { id = Model.CurrentPage}, null)</li>
                
            if (Model.CurrentPage < Model.PagesCount)
            {
                <li>@Html.ActionLink((Model.CurrentPage+1).ToString(), "Index", "Trip", new { id=Model.CurrentPage+1},null)</li>
            }

            if (Model.CurrentPage < Model.PagesCount-1)
            {
                <li><a href="">...</a></li>
                <li>@Html.ActionLink(Model.PagesCount.ToString(), "Index", "Trip", new { id=Model.PagesCount},null)</li>
            }
        }
    @*
    @for (int i = 1; i <= Model.PagesCount; i++)
    {
        if (i == Model.CurrentPage)
        {
            <li class="active">
                <a href="@String.Format("/Trip/{0}/{1}", Model.ActionUrl, i)"> @Model.CurrentPage </a>
            </li>
        }
        else
        {
            <li>
                <a href="@String.Format("/Trip/{0}/{1}", Model.ActionUrl, i)"> @i </a>
            </li>
        }
    }*@
</ul>
