@model Razom.Models.Trip

@{
    ViewBag.Title = "Подорож";
}

<div style="padding-left:2%; padding-top:2%">
    <h2>@Model.Name  @Html.ActionLink("Змінити назву", "ChangeName", "Trip", new { id = Model.ID }, new { @class = "btn btn-warning" })</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-warning" style="width:100%">
                <div class="panel-heading">Час</div>
                <div class="panel-body" style="margin-left:5%">
                    <div class="row">
                        @Model.Start.ToShortDateString() - @Model.Finish.ToShortDateString()
                        @Html.ActionLink("Змінити дату", "ChangeDate", "Trip", new { id = Model.ID }, new { @class = "btn btn-warning", @style = "margin-left:3%" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-warning" style="width:100%">
                <div class="panel-heading">Учасники подорожі</div>
                <div class="panel-body" style="margin-left:5%">
                    @foreach (var item in Model.Users)
                    {
                        <div class="row">
                            <p>@Html.ActionLink(String.Format("{0} {1}", item.FirstName, item.SecondName), "Account", "Account", new { id = item.UserID }, null)</p>
                        </div>
                    }
                    <div class="row">
                        <p>@Html.ActionLink("Запросити користувача", "AddUser", "Trip", new { id = Model.ID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Отримати пораду", "Recommend", "Trip", new { id = Model.ID, uid=Model.UserID }, new { @class = "btn btn-info" })</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-warning" style="width:100%">
                <div class="panel-heading">Місця у подорожі</div>
                <div class="panel-body" style="margin-left:5%">
                    @foreach (var item in Model.Places)
                    {
                        <div class="row">
                            <p>@Html.ActionLink(String.Format("{0}", item.Name), "Show", "Place", new { id = item.PlaceID }, null)</p>
                        </div>
                    }
                    <div class="row">
                        <p>@Html.ActionLink("Додати місце", "AddPlace", "Trip", new { id = Model.ID }, new { @class = "btn btn-info" })</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="">
        <div style="">
            <div class="container" style="width:60%">
                <h4>Груповий діалог</h4>
                <div style="height:200px; width:100%; overflow-y:scroll" class="panel-body">
                    <ul id="messageList" class="list-group">
                        @foreach (var item in Model.Messages)
                        {
                            <li class="list-group-item"><span class=" label label-primary" style="font-weight:bold;">@item.AuthorName:</span> @item.Text</li>
                        }
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="row" style="padding-top:2%;padding-left:40%">
        <textarea class="form-control" style="width:50%;" rows="3" id="messageBox"></textarea>
        <input type="button" id="sendMessage" class="btn btn-success" value="Відправити" />
    </div>
   

    @Html.ActionLink("Вийти з подорожі", "LeftTrip", "Trip", new { id = Model.ID }, new { @class = "btn btn-danger", @style = "left:5%; position:relative;" })

</div>

    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
     
    <script src="~/signalr/hubs"></script>    

   <script>
       $(function () {
           var chat = $.connection.chatHub;
           chat.client.addNewMessageToPage = function (name, travel_id, message) {
               if(travel_id == '@Model.ID')
               {
                   $('#messageList').append('<li class="list-group-item"><span class=" label label-primary" style="font-weight:bold;">'
                   + encodeHtml(name) + '</span>:'
                   + encodeHtml(message) + '</li>');
               }
           };
           $('#messageBox').focus();
           $.connection.hub.start().done(function () {
               $('#sendMessage').click(function () {
                   chat.server.send('@Model.UserID', '@Model.ID', $('#messageBox').val());
                   $('#messageBox').val('').focus();
               });
           });
       });

       function encodeHtml(value) {
           var ecValue = $('<div />').text(value).html();
           return ecValue;
       }
       
   </script>
