@model Razom.Models.FullPlace

@if (Model.Comment.Count() == 0)
{
    <p>Немає коментарів</p>
}
else
{
    foreach (var item in Model.Comment)
    {
        <p>
            @item.Message
        </p>
    }
    
    
    <ul class="pagination" style="left:20%; position:relative;">
        @if (Model.PagesCount > 1)
        {      
            if (2 < Model.CurrentPage)
            {
                <li>@Html.ActionLink("1", "Show", "Place", new { id=Model.PlaceID, page=1 },null)</li>
                <li><a href="#">...</a></li>
            }

            if (Model.CurrentPage > 1)
            {
               <li>@Html.ActionLink((Model.CurrentPage-1).ToString(), "Show", "Place", new { id=Model.PlaceID, page=Model.CurrentPage-1 },null)</li>
            }
        
            <li class="active">@Html.ActionLink(Model.CurrentPage.ToString(), "Show", "Place", new { id = Model.PlaceID, page = Model.CurrentPage }, null)</li>
                
            if (Model.CurrentPage < Model.PagesCount)
            {
                <li>@Html.ActionLink((Model.CurrentPage+1).ToString(), "Show", "Place", new { id=Model.PlaceID, page=Model.CurrentPage+1 },null)</li>
            }

            if (Model.CurrentPage < Model.PagesCount-1)
            {
                <li><a href="#">...</a></li>
                <li>@Html.ActionLink(Model.PagesCount.ToString(), "Show", "Place", new { id=Model.PlaceID, page=Model.PagesCount },null)</li>
            }
        }
    </ul>
}