@model Razom.Models.AccountModel

@{
    ViewBag.Title = "Профіль";
}


<div class="accountPhoto">
    <img class="img-circle" style="margin-left:5%; margin-top:5%" src="@Url.Action("DisplayAvatar", "Account", new {id =Model.ID})" alt="photo" />
</div>
<div class="accountInfo panel panel-primary" style="position:absolute;left:40%; top:17%; width:30%">
    <div class="panel-heading" style="background-color: #555; border-color: #555; ">
        <h3 class="panel-title">Профіль</h3>
    </div>
    <ul class="list-group"> 
        <li class="list-group-item">
            <div class="row">
                @Html.HiddenFor(m => m.ID)
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Login, "Логін")
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Login)
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <label>Ім'я</label>
                </div>
                <div class="col-md-4">
                    @String.Format("{0} {1}", Model.FirstName, Model.SecondName)
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.EMail, "E-mail")
                 </div>
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.EMail)
                </div>
             </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Phone, "Телефон")
                </div>
                 <div class="col-md-4">
                        @Html.DisplayFor(m => m.Phone)
                 </div>
             </div>
         </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <a href="https://ru.foursquare.com/@Model.FoursquareAccount">Акаунт Fousquare</a>
                </div>
            </div>
          </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <a href="http://twitter.com/@Model.TwitterAccount">Акаунт Twitter</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <a href="http://vk.com/@Model.VKAccount">Акаунт Вконтакте</a>
                 </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <label>Про себе</label>
                </div>
                <div class="col-md-4">
                    @if (@Model.Associations.Count() > 0)
                    {
                        <span>@Model.Associations.First() </span>
                        foreach (var item in Model.Associations.Skip(1))
                        {
                            if (!(string.IsNullOrWhiteSpace(item)||string.IsNullOrWhiteSpace(item)))
	                        {
		                        <span>, @item</span>
	                        } 
                        }    
                    }
                </div>
            </div>
        </li>
</ul>
</div>
<div class="clear"></div>